body {
  font-family: sans-serif;
  margin: 0;
  border: 1px solid black;
  padding: 0;
}

header#header {
  background-color: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}

nav#nav-global {
  background-color: #3399FF;
  color: white;
  padding: 10px;
  text-align: center;
}

section#page-title {
  background-color: #FF99CC;
  padding: 15px;
  text-align: center;
}

.main-content {
  display: flex;
}

#content-1 {
  background-color: #FFA500;
  flex: 2;
  padding: 20px;
}

#nav-local {
  background-color: #FFFF66;
  flex: 1;
  padding: 20px;
}

.lower-content {
  display: flex;
}
#content-2 {
  background-color: #FF6666;
  flex: 2;
  padding: 20px;
}

#content-3 {
  background-color: green;
  flex: 2;
  padding: 20px;
 }

#sidebar {
  background-color: #FFFF66;
  flex: 1;
  padding: 20px;
}

footer#footer {
  background-color: #CCCCCC;
  padding: 20px;
  text-align: center;
}